
[Dd]ebug/
[Rr]elease/
.vscode/
.idea/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates


*.DS_Store
*.directory
Thumbs.db
*.log
*.swp
*.sln*
*.vs/

bin/
obj/

*.log
.vscode
*.vs
*.ncrunchproject
*.ncrunchsolution

TestResults/
coverage/

appsettings.*.json
appsettings.json
.env
.env.*

*.dbmdl
*.dbproj.schemaview
*.jfm

.nuget/
*.nupkg

# Локальные nuget-пакеты
*.snupkg
*.localhistory/
*.orig

.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
**/*.psess

Generated/

secrets.json
